body {
  font-family: sans-serif;
}

body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/* MAIN */ 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 1000px;
  font-size: 20px;
  padding: 30px;
}


/* SEARCH POCKEMON INPUT */

.search-pokemon-container {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #313131;
  padding: 30px 60px;
  align-items: start;
  gap: 50px;
}

.search-pokemon > label {
  font-size: 1.5em;
  display: inline-block;
  margin: 0 0 10px;
}

.search-input {
  display: flex;
  gap: 20px;
}

.search-input > input::placeholder {
  opacity: 0.75;
}

.search-input > input {
  font-size: 1.25em;
  padding: 7.5px 7.5px 9px 7.5px;
  border-radius: 5px;
  border: 3px solid #616161;
}

.search-input > button {
  background-color: #ee6b2f;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.15s;
}

.search-input > button:hover {
  cursor: pointer;
  background-color: #da471b;
}

.search-pokemon > p {
  margin: 10px 0 0;
}

.search-hint {
  background-color: #4dad5b;
  padding: 15px 20px;
  border-radius: 5px;
}


/* POKEMON CONTAINER */

.sprite-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-sprite {
  width: 75px;
}

  /* POKEMON INFO AND IMAGE */

.pokemon-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 12px;
}

.image-stats img {
  width: 100%;
  background-color: #efefef;
  display: block;
  border-radius: 5px;
  margin: 0 0 12px;
}

.pokemon-stats {
  background-color: #a4a4a4;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.pokemon-stats div {
  display: flex;
  align-items: center;
  gap: 10px;
}

  /* MORE INFO */

.summary-1 {
  margin: 10px 0 20px;
}

.summary-versions {
  margin: 0 0 35px;
}

.pokemon-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 5px 20px;
  background-color: #30a7d7;
  border-radius: 10px;
  margin: 0 0 35px;
}

.pokemon-details h3 {
  color: #fff;
  font-weight: normal;
  font-size: 1em;
}

.pokemon-details p {
  margin: 10px 0 15px;
}

.more-info > h3 {
  font-size: 1em;
  margin: 0 0 20px;
}

.types-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
}

.types-container img {
  width: 35px;
}


.types-container > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 5px 12px 5px 5px;
  border-radius: 30px;
  width: 100%;
}


/* TYPES */
/* STELLAR AND ??? ARE MISSING*/

.normal-type {
  background-color: #9099a1;
}

.fire-type {
  background-color: #ff9c54;
}

.fighting-type {
  background-color: #ce4069;
  color: #fff;
}

.water-type {
  background-color: #4d90d5;
  color: #fff;
}

.flying-type {
  background-color: #8fa8dd;
}

.grass-type {
  background-color: #63bb5b;
}

.poison-type {
  background-color: #ab6ac8;
}

.electric-type {
  background-color: #f3d23b;
}

.ground-type {
  background-color: #d97746;
}

.psychic-type {
  background-color: #f97176;
  color: #fff;
}

.rock-type {
  background-color: #c7b78b;
}

.ice-type {
  background-color: #74cec0;
}

.bug-type {
  background-color: #90c12c;
}

.dragon-type {
  background-color: #0a6dc4;
  color: #fff;
}

.ghost-type {
  background-color: #5269ac;
  color: #fff;
}

.dark-type {
  background-color: #5a5366;
  color: #fff;
}

.steel-type {
  background-color: #5a8ea1;
}

.fairy-type {
  background-color: #ec8fe6;
}

/* LOADING ICON */

.hide {
  display: none;
}

.show {
  display: block;
}

#loading-text img {
  width: 30px;
}




.summary-versions button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

